/* All Device sizes used in this Page:
    (min-width: 1281px)
    (min-width: 1025px) and (max-width: 1280px)
    (min-width: 768px) and (max-width: 1024px) portrait
    (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
    (min-width: 481px) and (max-width: 767px) small tablets and mobile landscape
    (min-width: 320px) and (max-width: 480px) mobile portrait */
 


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    header {
        height: 100px;
    }
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 0.8em;
        line-height: 1;
    }

    img {
        width: 100px;
        height: 100px;
    }
  }

/* 
    ##Device = Tablets, Ipads
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0;
    }

    #innerbody {
        padding: 5px;
        width: 100%;
    }

    header {
        height: 100px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        line-height: 1;
        font-size: 0.8em;
        font-weight: 300;
    }

    img {
        width: 100px;
        height: 100px;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {
    
    body {
        margin: 0;
        /* display: block; */
    }

    #innerbody {
        padding: 25px 15px 0 15px;
    }

    header {
        height: 100px;
        text-align: right;
    }

    h1,
    h2 {
        text-align: right;
        padding-right: 15px;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        line-height: 2;
        font-size: 0.8em;
        font-weight: 300;
    }
    img {
        width: 100px;
        height: 100px;
    }

    #calculation-area {
        padding: 25px;
        background-color: #D8CBC4;
    }

    #grid-container-new>div>div,
    .grid-container {
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    .grid-container {
        padding: 10px;
    }

    .grid-item {
        padding: 3px;
        text-align: center;
    }

    #totalCosts {
        font-size: 1.2em;
    }

    #visualization-area {
        justify-content: center;
    }

};

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (max-width: 480px) {
    body {
        margin: 0;
        grid-template-columns: 1fr;
    }

    #innerbody {
        padding: 0px;
        width: 100%;
    }

    header {
        padding: 10px;
        height: 90px;
    }

    h1,
    h2 {
        text-align: right;
        padding-right: 5px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        line-height: 2;
        font-size: 0.8em;
        font-weight: 300;
    }

    img {
        width: 80px;
        height: 80px;
    }

    #calculation-area {
        padding: 5px;
        background-color: #D8CBC4;
    }

    #hide-calculation-area{
        padding: 5px 5px 5px 0px;   
    }
    #grid-container-new>div>div,
    .grid-container {
        width: 100%;
        padding: 2px;
        text-align: left;
    }

    .grid-container, #grid-container-new {
        padding: 0px;
    }

    .grid-item {
        padding: 3px;
        text-align: center;
    }

    .category {
        width: 100px;
        font-size: 12px;
    }
    .select {
        width: 60px;
    }
    .cost {
        width: 60px;
        font-size: 12px;
    }
    .count {
        width: 40px;
        font-size: 12px;
    }
    .round {
        width: 30px;
    }
    .more-rows-button {
        position: relative;
        right: 20%;
        width: 140px;
    }

    #totalCosts {
        font-size: 1.2em;
    }

    #visualization-area {
        justify-content: center;
    }

}