/* All Device sizes used in this Page:
    (min-width: 1281px)
    (min-width: 1025px) and (max-width: 1280px)
    (min-width: 768px) and (max-width: 1024px) portrait
    (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
    (min-width: 481px) and (max-width: 767px) small tablets and mobile landscape
    (min-width: 320px) and (max-width: 480px) mobile portrait */
 


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    header {
        height: 100px;
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 0.8em;
        line-height: 9;
    }
    h1,
    h2 {
        position: absolute;
    }

    img {
        width: 100px;
        height: 100px;
        left: 75%;
    }
  }

/* 
    ##Device = Tablets, Ipads
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0;
    }

    #innerbody {

        padding: 5px;
        width: 100%;
    }

    header {
        height: 100px;
    }

    h1,
    h2 {
        position: absolute;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        line-height: 9;
        font-size: 0.8em;
        font-weight: 300;
    }

    img {
        width: 80px;
        height: 80px;
        left: 75%;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {
    
    body {
        margin: 0;
    }

    #innerbody {

        padding: 5px;
        width: 100%;
    }

    header {
        background-color: #455359;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 5px;
        height: 100px;
    }

    h1,
    h2 {
        position: absolute;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        line-height: 9;
        font-size: 0.6em;
        font-weight: 300;
    }

    img {
        width: 80px;
        height: 80px;
        left: 75%;
    }

    #calculation-area {
        padding: 25px;
        background-color: #D8CBC4;
    }


    #grid-container-new>div>div,
    .grid-container {
        width: 300px;
        padding: 5px;
        text-align: center;
    }

    .grid-container {
        padding: 10px;
    }

    .grid-item {
        padding: 3px;
        text-align: center;
    }

    #totalCosts {
        font-size: 1.2em;
    }

    #visualization-area {
        justify-content: center;
    }

    #myChart{
        width: 300px;
    }

}




/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (max-width: 480px) {
    body {
        margin: 0;
    }

    #innerbody {

        padding: 5px;
        width: 100%;
    }

    header {
        background-color: #455359;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 5px;
        height: 100px;
    }

    h1,
    h2 {
        position: absolute;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        line-height: 9;
        font-size: 0.6em;
        font-weight: 300;
    }

    img {
        width: 80px;
        height: 80px;
        left: 75%;
    }

    #calculation-area {
        padding: 25px;
        background-color: #D8CBC4;
    }


    #grid-container-new>div>div,
    .grid-container {
        width: 300px;
        padding: 5px;
        text-align: center;
    }

    .grid-container {
        padding: 10px;
    }

    .grid-item {
        padding: 3px;
        text-align: center;
    }

    #totalCosts {
        font-size: 1.2em;
    }

    #visualization-area {
        justify-content: center;
    }

    #myChart{
        width: 300px;
    }

}