/* Colours of the Project
    #9C9FA6   - Grey
    #FAF7F4   - Off White
    #D8CBC4   - Mokka Beige
    #455359   - Sea Green
    #6A4C39(new)   - Brown
    #0D0D0D   - Black-Brown */

/* These fonts are imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Share+Tech+Mono&display=swap');


/* This styling is set for the whole project as a deafault */
body {
    color: #0D0D0D;
    background-color: #0D0D0D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 10% 10%;
}

#innerbody{
    background-color: #455359;
    padding: 25px 15px;
}

header {
    background-color: #455359;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    height: 120px;
}

h1,
h2 {
    font-family: 'Share Tech Mono', monospace;
    color: #FAF7F4;
    line-height: 2;
    letter-spacing: 2px;
    position: absolute;
    right: 27%
}

h1 {
    font-size: 3em;
}

h2 {
    font-family: Lemonada, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
}

img {
    border-radius: 50%;
    position: absolute;
    left: 75%
}

#calculation-area {
    padding: 50px;
    background-color: #D8CBC4;

   display: flexbox;
   justify-content: space-evenly;
   text-align: center;
}

#grid-container-new > div > div, .grid-container  {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 20% 0% 20%;
    width: 500px;
   display: flexbox;
   justify-content: space-evenly;
   text-align: center;
  }

.grid-container {
    padding: 5% 20% 0% 20%;

  }

  .grid-item {
    padding: 5px;
    text-align: center;
  }

.round {
    background-color: #6A4C39;
    color: #FAF7F4;
    letter-spacing: 2px;
    border-radius: 50%;

    width: 30px;
    height: 30px;
    text-align: center;
}

button {
    font-family: 'Share Tech Mono', monospace;
    background-color: #6A4C39;
    color: #FAF7F4;
    letter-spacing: 2px;
    font-size: 1em;
    border-radius: 5%;

    width: 120px;
    height: 35px;
    text-align: center;
}


#budget {
    width: 100px;
    height: 30px;
    text-align: center;
}

.category {
    width: 130px;
    height: 30px;
    text-align: center;
    border: 1.5px solid rgba(0, 0, 0, 0.8);
}

.sub-category {
    width: 60px;
    height: 15px;
}

.select {
    width: 80px;
    height: 25px;
    text-align: center;
}

.cost {
    width: 80px;
    height: 25px;
    text-align: right;
    border: 1.5px solid rgba(0, 0, 0, 0.8);
}
.count {
    width: 60px;
    height: 25px;
    text-align: center;
    border: 1.5px solid rgba(0, 0, 0, 0.8);
}



.more-rows-button {
    position: relative;
    left: 10%;
    width: 140px;
    background-color: #FAF7F4;
    color: #6A4C39;
    letter-spacing: 2px;
    font-size: 1em;
    border-radius: 0;
    border-width: 1px;
   margin: 10px;
}

/* #calculate-total-button{
    position: relative;
    left: 40%
} */

/* #visualize-button {
    position: relative;
    left: 20%;
    padding: 5px;
} */

#totalCosts {
    font-size: 2em;
}


#balanceStatus {
   /* width: 300px;   */
}

#balanceStatusRed{
   color:red;
}

#balanceStatusGreen{
    color:green;
}


#balanceStatusBlue{
    color: blue;
}



#visualization-area {
    /* padding: 50px; */
    background-color: #ffffff;
    display: flex;
    justify-content: center;

}



#myChart {
    display: flex;
   justify-content: center;
   padding-top: 50px;
}


footer {
    background-color: #455359;
    color: #D8CBC4;
}