/* Colours of the Project
    #9C9FA6   - Grey
    #FAF7F4   - Off White
    #D8CBC4   - Mokka Beige
    #455359   - Sea Green
    #6A4C39(new)   - Brown
    #0D0D0D   - Black-Brown */

/* These fonts are imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Share+Tech+Mono&display=swap');


/* This styling is set for the whole project as a deafault */
body {
    color: #0D0D0D;
    background-color: #0D0D0D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 10% 10%;
}

#innerbody{
    background-color: #455359;
    padding: 25px 15px;
}

header {
    background-color: #455359;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    height: 120px;
}

h1,
h2 {
    font-family: 'Share Tech Mono', monospace;
    color: #FAF7F4;
    line-height: 2;
    letter-spacing: 2px;
    position: absolute;
    right: 27%
}

h1 {
    font-size: 3em;
}

h2 {
    font-family: Lemonada, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
}

img {
    border-radius: 50%;
    position: absolute;
    left: 75%
}

#calculation-area {
    padding: 50px;
    background-color: #D8CBC4;
    /* margin: 30px; */

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 40px;

  }

  .grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;
    text-align: center;
  }

.round {
    background-color: #6A4C39;
    color: #FAF7F4;
    letter-spacing: 2px;
    border-radius: 50%;

    width: 30px;
    height: 30px;
    text-align: center;
}

button {
    font-family: 'Share Tech Mono', monospace;
    background-color: #6A4C39;
    color: #FAF7F4;
    letter-spacing: 2px;
    font-size: 1em;
    border-radius: 5%;

    width: 120px;
    height: 35px;
    text-align: center;
}


#budget {
    width: 80px;
    height: 30px;
    text-align: right;
}

#category {
    width: 130px;
    height: 30px;
    text-align: center;
}

#cost {
    width: 80px;
    height: 25px;
    text-align: right;
}
.count {
    width: 40px;
    height: 25px;
    text-align: center;
}

#total{
    position: relative;
    left: 40%
}

#visualization-area {
    padding: 50px;
    background-color: #0D0D0D;

}

#visualize {
    position: relative;
    left: 40%
}

footer {
    background-color: #455359;
    color: #D8CBC4;
}